<div class="event-card" name="search-event-card">
  <div class="event-card-header">
    <img src={{thumbnail}} alt="rover" />
  </div>
  <div class="event-card-body">
    <h4>
      {{title}}
    </h4>
    <p>
      {{description}}
    </p>
    <p>
      {{address}}
    </p>
    <div>
      <div class="user-info">
        <small>{{date}}</small>
      </div>
      <button id="open-modal">See More</button>
    </div>
  </div>
</div>