<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  id="friends-modal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="dark-purple modal-title" id="exampleModalLabel">Invite Your
          Friends!</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body d-flex justify-content-center align-items-center"
        id="friends-container"
      >
        {{#each friends}}
          <div class="card m-2 border border-dark">
            <img
              class="img-thumbnail"
              src="{{profile_img_url}}"
              alt="{{first_name}} {{last_name}}"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{first_name}}
                {{last_name}}</h5>
              <hr />
              <p class="card-text text-center">Send this event to
                {{user_name}}!</p>
              <div class="text-center mb-3">
                <button
                  id="{{id}}"
                  class="btn btn-dark"
                  name="invite-friend-btn"
                >Invite Friend</button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>