<div class="event-card mb-5" name="search-event-card">
  <div class="event-card-header">
    <img src={{event_image_url}} alt="rover" class="my-3" />
  </div>
  <div class="event-card-body">
    <h4 class="dark-purple">
      {{title}}
    </h4>
    <div class="event-description">
      {{description}}
    </div>
    <hr />
    <div class="event-address mb-2">
      {{address}}
    </div>
    <div class="user-info">
      <small>{{date}}</small>
    </div>
  </div>
  <div class="text-center mb-3">
    <button
      id="open-modal"
      class="btn btn-success"
      data-event-id="{{id}}"
    >Invite Friend</button>
  </div>
</div>