{{#each events as |event|}}
  <div class="event-card">
    <div class="event-card-header">
      <img src={{event.thumbnail}} alt="rover" />
    </div>
    <div class="event-card-body">
      <span class="tag tag-teal">Technology</span>
      <h4>
        {{event.title}}
      </h4>
      <p>
        {{event.address}}
      </p>
      <div class="user">
        <img
          src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo"
          alt="user"
        />
        <div class="user-info">
          <h5>{{event.date.start_date}}</h5>
          <small>{{event.date.when}}</small>
        </div>
      </div>
    </div>
  </div>
{{/each}}